<div class="buttons">
    <button class="button"(click)='operat("%")'>%</button>
    <button class="button"(click)='operat("C")'>C</button>
    <button class="button"(click)='operat("CE")'>CE</button>
    <button class="button"(click)='operat("back")'>&larr;</button>
    <button class="button"(click)='operat("1/x")'>1/x</button>
    <button class="button"(click)='operat("^2")'>x<sup>2</sup></button>
    <button class="button"(click)='operat("sqrt")'>&radic;x</button>
    <button class="button"(click)='operat("/")'>&divide;</button>
    <button class="button"(click)='writeNumber("7")'>7</button>
    <button class="button"(click)='writeNumber("8")'>8</button>
    <button class="button"(click)='writeNumber("9")'>9</button>
    <button class="button"(click)='operat("x")'>&#215;</button>
    <button class="button"(click)='writeNumber("4")'>4</button>
    <button class="button"(click)='writeNumber("5")'>5</button>
    <button class="button"(click)='writeNumber("6")'>6</button>
    <button class="button"(click)='operat("-")'>-</button>
    <button class="button"(click)='writeNumber("1")'>1</button>
    <button class="button"(click)='writeNumber("2")'>2</button>
    <button class="button"(click)='writeNumber("3")'>3</button>
    <button class="button"(click)='operat("+")'>+</button>
    <button class="button"(click)='operat("+/-")'>+/-</button>
    <button class="button"(click)='writeNumber("0")'>0</button>
    <button class="button"(click)='writeNumber(".")'>.</button>
    <button class="button" id="equal"(click)='equal()'>=</button>
  </div>
